@model IEnumerable<TrainConnected.Web.ViewModels.Certificates.CertificatesAllViewModel>
@using System.Globalization
@using TrainConnected.Common

@{
    ViewData["Title"] = "Certificates";
}

<h1>My Certificates</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiresOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ActivityName
                </td>
                <td>
                    @item.IssuedBy
                </td>
                <td>
                    @item.IssuedOn.ToString(GlobalConstants.DateFormat, CultureInfo.InvariantCulture)
                </td>
                <td>
                    @item.ExpiresOn?.ToString(GlobalConstants.DateFormat, CultureInfo.InvariantCulture)
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
