@model TrainConnected.Web.ViewModels.Workouts.WorkoutCancelViewModel
@using System.Globalization
@using TrainConnected.Common

@{
    ViewData["Title"] = "Cancel";
}

<h1>Cancel Workout</h1>

<h3>Are you sure you want to cancel this workout?</h3>
<div>
    <h4>Workout</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.ActivityIcon)" /> |
            @Model.ActivityName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoachUserName)
        </dt>
        <dd class="col-sm-10">
            @Model.CoachUserName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Model.Time.ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Model.Duration @GlobalConstants.TimeMeasurement
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Model.Location
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Model.Price @GlobalConstants.Currency
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedPaymentMethods)
        </dt>
        <dd class="col-sm-10">
            @String.Join(", ", Model.AcceptedPaymentMethods)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Model.Notes
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingsCount)
        </dt>
        <dd class="col-sm-10">
            @Model.BookingsCount / @Model.MaxParticipants
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedOn.ToLocalTime().ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
        </dd>
    </dl>

    <form asp-action="Cancel">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancel" class="btn btn-danger" /> |
        <a asp-action="Find">Back to List</a>
    </form>
</div>
