@model TrainConnected.Web.InputModels.Workouts.WorkoutCreateInputModel
@using TrainConnected.Web.InputModels.PaymentMethods
@using System.Linq
@using TrainConnected.Common

@{
    ViewData["Title"] = "Create";
    var activities = this.ViewData["Activities"] as IEnumerable<SelectListItem>;
    IEnumerable<string> paymentsInAdvance = this.ViewData["paymentMethodsInAdvance"] as IEnumerable<string>;
    IEnumerable<string> paymentsOnSite = this.ViewData["paymentMethodsOnSite"] as IEnumerable<string>;
}

<h1>Create</h1>

<h4>Workout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Activity"></label>
                <select asp-for="Activity" asp-items="activities" class="form-control col-md-12">
                    <option selected="" disabled="">--Select activity type--</option>
                </select>
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" id="timeOfWorkout" type="text" autocomplete="off" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label> (@GlobalConstants.TimeMeasurement)
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label> (@GlobalConstants.Currency)
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethods" class="control-label"></label><br />
                @foreach (var paymentInAdvance in paymentsInAdvance)
                {
                    <input name="acceptedPaymentMethods" type="checkbox" value="@paymentInAdvance" id="pia" /> @paymentInAdvance<br />
                }
                @foreach (var paymentOnSite in paymentsOnSite)
                {
                    <input name="acceptedPaymentMethods" type="checkbox" value="@paymentOnSite" id="pos" /> @paymentOnSite<br />
                }
                <span asp-validation-for="PaymentMethods" class="text-danger"></span>
                <div class="noText" style="display:normal;" id="noText"><br /><br /></div> 
                <div class="piaText" style="display:none; color:#2ECC71;" id="piaText"><strong>Note:</strong> For prepaid workouts, your balance will be credited as soon as customer payment is received.</div>
                <div class="posText" style="display:none; color:#2ECC71;" id="posText"><strong>Note:</strong> For payments on site, your balance in TrainConnected will remain unchanged.</div>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxParticipants" class="control-label"></label>
                <input asp-for="MaxParticipants" class="form-control" />
                <span asp-validation-for="MaxParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyCreated">Back to List</a>
</div>

<script>
    window.onload = () => {
        $('#timeOfWorkout').datetimepicker({
            minDate: '0',
            lang: 'en'
        });
    };
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("input[type='checkbox']").mouseenter(function () {
            if ($(this).attr("id") == "pia") {
                $("#piaText").show();
                $("#posText").hide();
                $("#noText").hide();
            }
            else {
                $("#piaText").hide();
                $("#posText").show();
                $("#noText").hide();
            }
        });
    });
    $(document).ready(function () {
        $("input[type='checkbox']").mouseleave(function () {
                $("#piaText").hide();
                $("#posText").hide();
                $("#noText").show();
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
