@model IEnumerable<TrainConnected.Web.ViewModels.Workouts.WorkoutsAllViewModel>
@using System.Globalization
@using TrainConnected.Common

@{
    ViewData["Title"] = "My Created";
}

<h1>Workouts you're Coaching</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive-xl">
    <table class="table table-hover">
        <thead class="thead">
            <tr class="table-trainconnected">
                <th>
                    @Html.DisplayNameFor(model => model.ActivityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingsCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.ActivityIcon)" /> |
                        @item.ActivityName
                    </td>
                    <td>
                        @item.Time.ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
                    </td>
                    <td>
                        @item.Duration @GlobalConstants.TimeMeasurement
                    </td>
                    <td class="d-inline-block text-truncate" style="max-width: @GlobalConstants.TextMaxWidth;">
                        @item.Location
                    </td>
                    <td>
                        @item.Price @GlobalConstants.Currency
                    </td>
                    <td>
                        @item.BookingsCount / @item.MaxParticipants
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details </a>
                        @if (item.Time > DateTime.UtcNow.ToLocalTime() && item.BookingsCount == 0)
                        {
                            <a asp-action="Cancel" asp-route-id="@item.Id">| Cancel</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>