@model IEnumerable<TrainConnected.Web.ViewModels.Workouts.WorkoutsAllViewModel>
@using System.Globalization
@using TrainConnected.Common

@{
    ViewData["Title"] = "My Created";
}

<h1>Workouts you're Coaching</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@await this.Html.PartialAsync("_MyCreatedSearchBarPartial")

<div class="table-responsive-xl">
    <table class="table table-hover">
        <thead class="thead">
            <tr class="table-trainconnected">
                <th>
                    <a class="trainconnected" asp-action="MyCreated" asp-route-sortOrder="@ViewData["ActivitySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ActivityName) &#8693;</a>
                </th>
                <th>
                    <a class="trainconnected" asp-action="MyCreated" asp-route-sortOrder="@ViewData["TimeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().Time) &#8693;</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    <a class="trainconnected" asp-action="MyCreated" asp-route-sortOrder="@ViewData["LocationSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().Location) &#8693;</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingsCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.ActivityIcon)" /> |
                        @item.ActivityName
                    </td>
                    <td>
                        @item.Time.ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
                    </td>
                    <td>
                        @item.Duration @GlobalConstants.TimeMeasurement
                    </td>
                    <td class="text-truncate" style="max-width: @GlobalConstants.TextMaxWidth;">
                        @item.Location
                    </td>
                    <td>
                        @item.Price @GlobalConstants.Currency
                    </td>
                    <td>
                        @item.BookingsCount / @item.MaxParticipants
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details </a>
                        @if (item.Time > DateTime.UtcNow.ToLocalTime() && item.BookingsCount == 0)
                        {
                            <a asp-action="Cancel" asp-route-id="@item.Id">| Cancel</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@await this.Html.PartialAsync("_MyCreatedPaginationPartial")