@model TrainConnected.Web.ViewModels.Achievements.AchievementDetailsViewModel
@using System.Globalization;
@using TrainConnected.Common;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Achievement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AchievedOn)
        </dt>
        <dd class="col-sm-10">
            @Model.AchievedOn.ToLocalTime().ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
    </dl>
</div>
<div>
    <a asp-action="All">Back to List</a>
</div>
