@model TrainConnected.Web.ViewModels.Workouts.WorkoutDetailsViewModel
@using System.Globalization
@using TrainConnected.Common

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.ActivityIcon)" /> |
            @Model.ActivityName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoachUserName)
        </dt>
        <dd class="col-sm-10">
            @Model.CoachUserName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Model.Time.ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Model.Duration min
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Model.Location
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedPaymentMethods)
        </dt>
        <dd class="col-sm-10">
            @String.Join(", ", Model.AcceptedPaymentMethods)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Model.Notes
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingsCount)
        </dt>
        <dd class="col-sm-10">
            @Model.BookingsCount / @Model.MaxParticipants
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedOn.ToString("dd/MM/yyyy hh:mm", CultureInfo.InvariantCulture)
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsBookableByUser)
    {
        <a asp-controller="Bookings" asp-action="Create" asp-route-id="@Model.Id">Sign Up |</a>
    }
    <a asp-action="Find">Back to List</a>
</div>
