@model IEnumerable<TrainConnected.Web.ViewModels.Workouts.WorkoutsAllViewModel>
@using System.Globalization
@using TrainConnected.Common

@{
    ViewData["Title"] = "Find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Find Upcoming Workouts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.ActivityIcon)" /> |
                    @item.ActivityName
                </td>
                <td>
                    <a asp-controller="Buddies" asp-action="CoachDetails" asp-route-coachUserName="@item.CoachUserName">@item.CoachUserName</a>
                </td>
                <td>
                    @item.Time.ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
                </td>
                <td>
                    @item.Duration min
                </td>
                <td class="d-inline-block text-truncate" style="max-width: 150px;">
                    @item.Location
                </td>
                <td>
                    @item.Price
                </td>
                <td class="d-inline-block text-truncate" style="max-width: 150px;">
                    @item.Notes
                </td>
                <td>
                    @item.BookingsCount / @item.MaxParticipants
                </td>
                <td>
                    @item.CreatedOn.ToLocalTime().ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
                </td>
                <td>
                    @if (item.BookingsCount < item.MaxParticipants)
                    {
                        <a asp-controller="Bookings" asp-action="Create" asp-route-id="@item.Id">Sign Up |</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>