@model IEnumerable<TrainConnected.Web.ViewModels.Workouts.WorkoutsAllViewModel>
@using System.Globalization
@using TrainConnected.Common

@{
    ViewData["Title"] = "Find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Find Upcoming Workouts</h1>

@await this.Html.PartialAsync("_FindSearchBarPartial")

<div class="table-responsive-xl">
    <table class="table table-hover">
        <thead class="thead">
            <tr class="table-trainconnected">
                <th>
                    <a class="trainconnected" asp-action="Find" asp-route-sortOrder="@ViewData["ActivitySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ActivityName) &#8693;</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoachUserName)
                </th>
                <th>
                    <a class="trainconnected" asp-action="Find" asp-route-sortOrder="@ViewData["TimeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().Time) &#8693;</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    <a class="trainconnected" asp-action="Find" asp-route-sortOrder="@ViewData["LocationSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().Location) &#8693;</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingsCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.ActivityIcon)" /> |
                        @item.ActivityName
                    </td>
                    <td>
                        <a asp-controller="Buddies" asp-action="CoachDetails" asp-route-coachUserName="@item.CoachUserName">@item.CoachUserName</a>
                    </td>
                    <td>
                        @item.Time.ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
                    </td>
                    <td>
                        @item.Duration @GlobalConstants.TimeMeasurement
                    </td>
                    <td class="trainconnected" style="max-width: @GlobalConstants.TextMaxWidth;">
                        @item.Location
                    </td>
                    <td>
                        @item.Price @GlobalConstants.Currency
                    </td>

                    <td>
                        @item.BookingsCount / @item.MaxParticipants
                    </td>
                    <td>
                        @if (item.BookingsCount < item.MaxParticipants)
                        {
                            <a asp-controller="Bookings" asp-action="Create" asp-route-id="@item.Id">Sign Up |</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@await this.Html.PartialAsync("_FindPaginationPartial")