@model IEnumerable<TrainConnected.Web.ViewModels.Workouts.WorkoutsAllViewModel>
@using  System.Globalization;

@{
    ViewData["Title"] = "My";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Workouts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Content(item.ActivityIcon)" /> | 
                @item.ActivityName
            </td>
            <td>
                @item.CoachUserName
            </td>
            <td>
                @item.Time.ToString("dd/MM/yyyy hh:mm", CultureInfo.InvariantCulture)
            </td>
            <td>
                @item.Duration min
            </td>
            <td>
                @item.Location
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Notes
            </td>
            <td>
                @item.BookingsCount / @item.MaxParticipants
            </td>
            <td>
                @item.CreatedOn
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DetailsByWorkoutId" asp-controller="Bookings" asp-route-id="@item.Id">To Booking</a>
            </td>
        </tr>
}
    </tbody>
</table>
