@model TrainConnected.Web.ViewModels.Bookings.BookingDetailsViewModel
@using System.Globalization
@using TrainConnected.Common

@{
    ViewData["Title"] = "Cancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cancel Booking</h1>

<h3>Are you sure you want to cancel this booking?</h3>

<p>Note: You may only cancel a booking prior to the start of the workout.</p>
<div class="d-flex justify-content-around row">
    <div class="w-50">
        <h4>Booking</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PaymentMethodName)
            </dt>
            <dd class="col-sm-10">
                @Model.PaymentMethodName
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Model.Price @GlobalConstants.Currency
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
            <dd class="col-sm-10">
                @Model.CreatedOn.ToLocalTime().ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Model.Id
            </dd>
        </dl>
    </div>

    <div class="w-50">
        <h4>Workout Details:</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WorkoutActivityName)
            </dt>
            <dd class="col-sm-10">
                @Model.WorkoutActivityName
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WorkoutCoachUserName)
            </dt>
            <dd class="col-sm-10">
                @Model.WorkoutCoachUserName
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WorkoutTime)
            </dt>
            <dd class="col-sm-10">
                @Model.WorkoutTime.ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WorkoutDuration)
            </dt>
            <dd class="col-sm-10">
                @Model.WorkoutDuration @GlobalConstants.TimeMeasurement
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WorkoutLocation)
            </dt>
            <dd class="col-sm-10">
                @Model.WorkoutLocation
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WorkoutNotes)
            </dt>
            <dd class="col-sm-10">
                @Model.WorkoutNotes
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WorkoutBookingsCount)
            </dt>
            <dd class="col-sm-10">
                @Model.WorkoutBookingsCount / @Model.WorkoutMaxParticipants
            </dd>
        </dl>
    </div>
</div>
<form asp-action="Cancel">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Cancel" class="btn btn-danger" /> |
    <a asp-action="All">Back to List</a>
</form>
