@model TrainConnected.Web.InputModels.Bookings.BookingCreateInputModel
@using TrainConnected.Web.ViewModels.Workouts;
@using TrainConnected.Common;
@using System.Globalization;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var workout = ViewData["workout"] as WorkoutDetailsViewModel;
    IEnumerable<string> paymentsInAdvance = this.ViewData["paymentMethodsInAdvance"] as IEnumerable<string>;
    IEnumerable<string> paymentsOnSite = this.ViewData["paymentMethodsOnSite"] as IEnumerable<string>;
}

<h1>Create</h1>
<br/>
<div class="d-flex justify-content-around row">
    <div class="col-md-4 w-50">
        <h4>Booking</h4>
        <hr />
        <form asp-action="Create" id="create-booking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check" style="padding-left:0rem;">
                <label asp-for="PaymentMethod"></label><br />
                @foreach (var paymentInAdvance in paymentsInAdvance)
                {
                    <input asp-for="PaymentMethod" type="radio" value="@paymentInAdvance" id="pia" /> @paymentInAdvance<br />
                }
                <div class="piaText" style="display:none; color:#2ECC71;" id="piaText"><strong>Note:</strong> If you wish to cancel a prepaid workout, please contact us at bookings@@TrainConnected.com.</div>
                @foreach (var paymentOnSite in paymentsOnSite)
                {
                    <input asp-for="PaymentMethod" type="radio" value="@paymentOnSite" id="pos" /> @paymentOnSite<br />
                }
                <div class="posText" style="display:none; color:#2ECC71;" id="posText"><strong>Note:</strong> The selected form of payment is expected on site, prior to beginning of the workout.</div>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label> (@GlobalConstants.Currency)
                <input asp-for="Price" class="form-control" value="@workout.Price" readonly />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="WorkoutId" class="form-control" value="@workout.Id" hidden />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Create</button>
            </div>
        </form>
    </div>

    <div class="w-50">
        <h4>Workout Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Activity Name
            </dt>
            <dd class="col-sm-8">
                @workout.ActivityName
            </dd>
            <dt class="col-sm-4">
                Coach
            </dt>
            <dd class="col-sm-8">
                @workout.CoachUserName
            </dd>
            <dt class="col-sm-4">
                Start
            </dt>
            <dd class="col-sm-8">
                @workout.Time.ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
            </dd>
            <dt class="col-sm-4">
                Duration
            </dt>
            <dd class="col-sm-8">
                @workout.Duration @GlobalConstants.TimeMeasurement
            </dd>
            <dt class="col-sm-4">
                Location
            </dt>
            <dd class="col-sm-8">
                @workout.Location
            </dd>
            <dt class="col-sm-4">
                Price
            </dt>
            <dd class="col-sm-8">
                @workout.Price @GlobalConstants.Currency
            </dd>
            <dt class="col-sm-4">
                Notes
            </dt>
            <dd class="col-sm-8">
                @workout.Notes
            </dd>
            <dt class="col-sm-4">
                Currently Signed Up
            </dt>
            <dd class="col-sm-8">
                @workout.BookingsCount / @workout.MaxParticipants
            </dd>
            <dt class="col-sm-4">
                Created On
            </dt>
            <dd class="col-sm-8">
                @workout.CreatedOn.ToLocalTime().ToString(GlobalConstants.DateTimeFormat, CultureInfo.InvariantCulture)
            </dd>
        </dl>
    </div>

    <div class="w-100">
        <a asp-action="All">Back to List</a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            if ($(this).attr("id") == "pia") {
                $("#piaText").show();
                $("#posText").hide();
            }
            else {
                $("#piaText").hide();
                $("#posText").show();
            }
        });
    });
</script>

@await this.Html.PartialAsync("_NotifyOfBookingPartial")

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
